repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: ["--config", "pyproject.toml"]
        language_version: python3.11

  - repo: https://github.com/pycqa/pylint
    rev: v3.0.3
    hooks:
      - id: pylint
        args:
          - "--rcfile=pyproject.toml"
          - "src/python/ensembl/genes"
          - "tests"
