[project]
name = "ensembl-genes"
version = "0.1.0"
description = "Tools for genome annotation"
requires-python = ">=3.11"
authors = [
    {name = "Ensembl", email = "dev@ensembl.org"},
]
maintainers = [
    {name = "Ensembl", email = "dev@ensembl.org"},
]
license = "Apache-2.0"
license-files = ["LICENSE", "NOTICE"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Bio-Informatics"
]
dependencies = [
    "pymysql == 1.0.2",
    "requests >= 2.32.5",
    "sqlalchemy == 1.4.9",
    "xmltodict"
]

[project.optional-dependencies]
dev = [
    "black (>=22.3.0,<23.0.0)",
    "pylint (>=2.7.4,<3.0.0)",
    "pytest (>=6.2.3,<7.0.0)",
    "sphinx (>=3.5.4,<4.0.0)",
    # MkDocs and plugins for building documentation locally / in CI
    "mkdocs",
    "mkdocs-material",
    "mkdocs-gen-files",
    "mkdocstrings[python]",
    "mkdocs-literate-nav",
    "mkdocs-section-index",
    "mkdocs-coverage",
]

[project.urls]
repository = "https://github.com/Ensembl/ensembl-genes"

[project.scripts]
star2introns = "ensembl.genes.star2introns:main"

[build-system]
requires = [
    "setuptools",
    "setuptools-scm",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src/python"]

[tool.setuptools]
package-dir = {"" = "src/python"}

[tool.mypy]
ignore_missing_imports = true

[tool.pylint.'MASTER']
init-hook = "import sys; sys.path.append('src/python')"
